

<div class="container d-flex flex-column gap-2 w-50 border border-primary border-3 rounded p-2">
  
  <div>
    <app-user-input (textSubmitted)="onWordSubmitted($event)"></app-user-input>
  </div>

  <div class="row">
    <div class="col border border-primary border-3 rounded m-3 p-2">
      <app-odd-length-words [oddWords]="oddWords"></app-odd-length-words>
    </div>
    <div class="col border border-primary border-3 rounded m-3 p-2">
      <app-even-length-words [evenWords]="evenWords"></app-even-length-words>
    </div>
  </div>
</div>

